USE [master]
GO
/****** Object:  Database [ToDoDB]    Script Date: 11/16/2023 10:23:22 AM ******/
CREATE DATABASE [ToDoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToDoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ToDoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ToDoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ToDoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToDoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToDoDB]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/16/2023 10:23:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserType] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 11/16/2023 10:23:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskContent] [nvarchar](200) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/16/2023 10:23:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](500) NULL,
	[Salt] [nvarchar](500) NULL,
	[FullName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersRoles]    Script Date: 11/16/2023 10:23:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[RoleId] [int] NULL,
 CONSTRAINT [PK_UsersRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [UserType]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [UserType]) VALUES (2, N'Moderator')
INSERT [dbo].[Roles] ([Id], [UserType]) VALUES (3, N'Member')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([Id], [TaskContent], [CreatedDate], [CreatedBy], [Status]) VALUES (1, N'try to test #1', CAST(N'2023-10-30T07:54:35.693' AS DateTime), 12, 1)
INSERT [dbo].[Tasks] ([Id], [TaskContent], [CreatedDate], [CreatedBy], [Status]) VALUES (4, N'hi from db', CAST(N'2023-11-16T09:00:34.250' AS DateTime), 4, 0)
INSERT [dbo].[Tasks] ([Id], [TaskContent], [CreatedDate], [CreatedBy], [Status]) VALUES (5, N'try to add from swagger', CAST(N'2023-11-16T09:03:23.153' AS DateTime), 5, 1)
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Salt], [FullName]) VALUES (1, N'Maha', N'Maha@123', N'MahaMaha', N'Maha Hussain')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Salt], [FullName]) VALUES (2, N'maha@maha', N'2EFC5A937D47E4BAF39B8688C444FE788528D45F61F5598699441033D5C335992806D299AD303AE472C08654A5F4027A826C3CA6EB8D6351F00343999540BBD1', N'gMBUew1wrV9bWjjqHtUBuW+nbP5x6JcJ17eyphgp5Y0ld6uq9LoY6fr88Nx+32QpElOM/zyk1vEuibTdz9mX9w==', N'Maha Hussain')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Salt], [FullName]) VALUES (3, N'su', N'df', N'dsdg', N'gsg')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UsersRoles] ON 

INSERT [dbo].[UsersRoles] ([Id], [UserId], [RoleId]) VALUES (1, 2, 1)
INSERT [dbo].[UsersRoles] ([Id], [UserId], [RoleId]) VALUES (4, 2, 2)
INSERT [dbo].[UsersRoles] ([Id], [UserId], [RoleId]) VALUES (5, 1, 2)
SET IDENTITY_INSERT [dbo].[UsersRoles] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_1]    Script Date: 11/16/2023 10:23:23 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [IX_Users_1] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_TaskCreate]    Script Date: 11/16/2023 10:23:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TaskCreate]
(@TaskContent nvarchar(200), @CreatedBy int, @Status int)
AS
BEGIN

insert into Tasks (TaskContent, CreatedDate, CreatedBy, Status)
Values (@TaskContent , GETDATE() ,@CreatedBy, @Status) 

declare @taskId int;
set @taskId = SCOPE_IDENTITY(); 

-------------------------------------
select * from Tasks where Id = @taskId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaskDelete]    Script Date: 11/16/2023 10:23:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TaskDelete]
(@taskId int)
AS
BEGIN

delete from Tasks where Id = @taskId

END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaskEdit]    Script Date: 11/16/2023 10:23:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TaskEdit]
(@taskContent nvarchar (200), @status int, @taskId int )
AS
BEGIN

Update Tasks set TaskContent = @taskContent, Status = @status where Id = @taskId

END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaskGetAll]    Script Date: 11/16/2023 10:23:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TaskGetAll]
AS
BEGIN

Select * From Tasks

END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaskGetUserTasks]    Script Date: 11/16/2023 10:23:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TaskGetUserTasks]
(@userId int)
AS
BEGIN

Select * From Tasks where CreatedBy = @userId 

END
GO
/****** Object:  StoredProcedure [dbo].[sp_UserCreate]    Script Date: 11/16/2023 10:23:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UserCreate] 
(@Username nvarchar (50), @Password nvarchar(500), @Salt nvarchar(500), @FullName nvarchar(50), @roleId int)
AS
BEGIN transaction
insert into Users (Username, Password, Salt, FullName)
Values (@Username, @Password, @Salt, @FullName)
declare @userId int;
set @userId = SCOPE_IDENTITY(); 

insert into UsersRoles values (@userId,@roleId)
-----------------------------------------
select * from Users where Id = @userId;


commit;
GO
/****** Object:  StoredProcedure [dbo].[sp_UserGet]    Script Date: 11/16/2023 10:23:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UserGet]
(@Username nvarchar (50))
AS
BEGIN

select * from Users where Username = @username

END
GO
/****** Object:  StoredProcedure [dbo].[sp_UserGetUserWithRoles]    Script Date: 11/16/2023 10:23:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UserGetUserWithRoles]
(@Username nvarchar (50))
AS
BEGIN

select Users.* , Roles.* from Users 
join UsersRoles on  UsersRoles.userId = Users.Id 
join Roles on Roles.id = UsersRoles.roleId where Username= @Username

END
GO
USE [master]
GO
