<!-- component -->
<div class="w-full max-w-screen-xl mx-auto px-6">
  <div class="flex justify-center p-4 px-3 py-10">
    <div class="w-full max-w-xl">
      <div class="bg-white shadow-md rounded-lg px-3 py-2 mb-4">
        <div class="block text-indigo-700 text-lg font-semibold py-2 px-2">Todos List</div>
        <app-new-task (onTaskCreated)="taskAdded($event)" />
        @for (todo of todos; track $index) {
          <app-todo-item
            [todoTask]="todo"
            (taskUpdated)="taskUpdated($event)"
            (deleteStatusChanged)="deleteStatusChanged(todo)"
          />
        }
        @if (toDoTask) {
          <app-todo-dialog [todoTask]="toDoTask" (taskDeleted)="taskDeleted($event)"></app-todo-dialog>
        }
      </div>
    </div>
  </div>
</div>
<div class="indicator">
  <span class="indicator-item badge badge-primary">PDF</span> 
  <div class="grid w-40 h-12 bg-base-300 place-items-center"> <button class="truncate w-4/5 hover:text-indigo-700 font-medium ">jdbjefbvfkbfkuebfkebfkw</button></div>
</div>
